.login-options {
  margin-top: -3px;

  display: flex;
  justify-content: flex-end;
}

.forgot-password-link {
  color: var(--brown);

  font-size: 0.8rem;
  font-weight: 750;

  transition: color 150ms ease;
}

.forgot-password-link:hover {
  color: var(--olive);
}
